# PayPal 설정 (실제 값으로 교체하세요)
REACT_APP_PAYPAL_CLIENT_ID=AZREWLa1aIlO5AJsS8LHGSQjInUK0ZH3fsLifMU-oPUV6eDqgR17kWFxpxv_8Rb65852p84b1u_1Tnt7
REACT_APP_PAYPAL_CLIENT_SECRET=EBc2wFR6TGOorxPighDaT6u8ibbblW8Ku6mwrfsVYWjzWBhtyUWMG41OE1INZTmAezvIyXsbI2csrhNC
REACT_APP_PAYPAL_ENVIRONMENT=live
REACT_APP_PAYPAL_CONTAINER_ID=7GXDQRX358EJC
REACT_APP_PAYPAL_CURRENCY=USD
REACT_APP_PAYPAL_HOSTED_BUTTON_ID=7GXDQRX358EJC



# 상품 설정
REACT_APP_PRODUCT_NAME=MINI high-end camera
REACT_APP_PRODUCT_DESCRIPTION=The ultimate camera for pros — unmatched precision, instant response.
REACT_APP_PRODUCT_PRICE=1.00
REACT_APP_PRODUCT_KRW_PRICE=1,000원

# 백엔드 설정
REACT_APP_BACKEND_URL=https://192.168.75.39
REACT_APP_BACKEND_PORT=5000

# 환경 설정
NODE_ENV=development
